**/bin/**
.vs/**
**/obj/**
/*.suo
/packages/NUnit.*
/packages/System.Windows.Interactivity.WPF.*
/packages/CommonServiceLocator*
/packages/Expression.Blend.Sdk.*
/packages/Prism.*
/packages/Plainion.*
/packages/Microsoft.Diagnostics.Tracing.TraceEvent*
/build/.fake
/TestResult.xml
/Plainion*.gc.*
/packages/System.Reactive*
